{% extends 'base.html' %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>
    <div class="row my-3 p-3">
        <img src="{{ user.profile.avatar.url }}" alt="avatar" class="rounded-circle account-img">
    </div>

    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible">
            <div id="form-errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <!-- оформление кнопки закрытия окошка с ошибкой -->
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Username:</label>
                        {{ user_form.username }}
                        <label class="small mb-1">Email:</label>
                        {{ user_form.email }}
                    </div>
                    <div class="form-group">
                        <a href="#" class="small">Change password</a>
                        <hr>
                        <label class="small mb-1">Change avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <label class="small mb-1">Bio:</label>
                    {{ profile_form.bio }}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-lg" title="Save info">Save</button>
            <button type="reset" class="btn btn-danger btn-lg">Reset</button>
        </form>
    </div>
{% endblock %}